# requirements.txt

# DepthAI pour accéder à la VPU MyriadX
depthai

# Bibliothèques pour la conversion de blobs
blobconverter

# Vision et calculs
numpy
networkx

# Serveur léger et utilitaires
flask
requests
PyYAML

# Divers (sans version fixe pour maximiser la compatibilité Python 3.6)
certifi
charset-normalizer
coloredlogs
filelock
flatbuffers
fsspec
humanfriendly
idna
importlib_resources
Jinja2
MarkupSafe
mpmath
packaging
protobuf
sympy
typing_extensions
urllib3
